.container {
    border: 19px solid rgb(55, 71, 101);
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    text-align: center;
}

.choose {
    background-color: #fafafa;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.prising {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.standart {
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #89c331;
    width: 277px;
    font-family: "Arimo", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    /*    line-height: 28px;*/
    text-align: center;
}

.ultimate {
    background-color: #f04a56;
    width: 277px;
    font-family: "Arimo", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.premium {
    background-color: #20807c;
    width: 277px;
    font-family: "Arimo", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

tr .price {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 55px;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    font-family: "Arimo", sans-serif;
    color: #484848;
    display: table-cell;
    text-align: center;
}

.item {
    display: -webkit- flex;
    display: flex;
    text-align: center;
}

.dollar {
    padding-left: 25px;
    font-size: 60px;
    font-weight: 700;
}

.num {
    font-size: 24px;
    font-weight: 700;
    padding-top: 6px;
}

.month {
    font-size: 18px;
}

.storage {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 277px;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.bandwidth {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 277px;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.email {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 310px;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.support {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 310px;

    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.products {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 310px;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.users {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 310px;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.contact {
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: #dddddd;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 310px;
    text-align: center;
}

.contact-us {
    border-radius: 5px;
    background-color: #484848;
    width: 192px;
    height: 49px;
    font-family: Arimo;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

td.buy1 {
    background-color: #eeeeee;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 278px;
    text-align: center;
}

button.buy1 {
    border-radius: 5px;
    background-color: #89c331;
    width: 192px;
    height: 49px;
    font-family: Arimo;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

td.buy2 {
    background-color: #f4f4f4;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 278px;
    text-align: center;
}

button.buy2 {
    border-radius: 5px;
    background-color: #f04a56;
    width: 192px;
    height: 49px;
    font-family: Arimo;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

td.buy3 {
    background-color: #eeeeee;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 278px;
    text-align: center;
}

button.buy3 {
    border-radius: 5px;
    background-color: #20807c;
    width: 192px;
    height: 49px;
    font-family: Arimo;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

button:hover {
    width: 200px;
    height: 55px;
    color: mintcream;
    background-color: darkseagreen;
}
